NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_ENDPOINT=https://YOUR_RESOURCE.openai.azure.com/openai/deployments/YOUR_DEPLOYMENT/chat/completions?api-version=2024-02-15-preview
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_IMAGE_DEPLOYMENT_NAME=
AZURE_OPENAI_IMAGE_ENDPOINT=
AZURE_OPENAI_IMAGE_API_KEY=
AZURE_OPENAI_VIDEO_DEPLOYMENT_NAME=
AZURE_OPENAI_VIDEO_ENDPOINT=
AZURE_OPENAI_VIDEO_API_KEY=
NEWSDATA_API_KEY=
